USE [master]
GO
/****** Object:  Database [GameShopDB]    Script Date: 25/01/2568 22:25:20 ******/
CREATE DATABASE [GameShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameShopDB]
GO
/****** Object:  Table [dbo].[CategoryTable]    Script Date: 25/01/2568 22:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTable](
	[categoryId] [int] NOT NULL,
	[categoryName] [nvarchar](255) NULL,
 CONSTRAINT [PK_CategoryTable] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTable]    Script Date: 25/01/2568 22:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTable](
	[gameId] [int] NOT NULL,
	[gameName] [nvarchar](255) NULL,
	[gamePrice] [float] NULL,
	[gameStock] [int] NULL,
	[gameImage] [nvarchar](max) NULL,
	[categoryId] [int] NULL,
 CONSTRAINT [PK_GameTable] PRIMARY KEY CLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 25/01/2568 22:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](255) NULL,
	[userEmail] [nvarchar](255) NULL,
	[userPassword] [nvarchar](255) NULL,
	[userRole] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoryTable] ([categoryId], [categoryName]) VALUES (1, N'Action')
INSERT [dbo].[CategoryTable] ([categoryId], [categoryName]) VALUES (2, N'Adventure')
INSERT [dbo].[CategoryTable] ([categoryId], [categoryName]) VALUES (3, N'RPGs')
GO
INSERT [dbo].[GameTable] ([gameId], [gameName], [gamePrice], [gameStock], [gameImage], [categoryId]) VALUES (1, N'Sekiro™: Shadows Die Twice', 2099, 2, N'https://cdn.cdkeys.com/700x700/media/catalog/product/l/c/lczcjmcibhpe2btmbxuqcl9v_2__1_1_1_1.jpg', 1)
INSERT [dbo].[GameTable] ([gameId], [gameName], [gamePrice], [gameStock], [gameImage], [categoryId]) VALUES (2, N'DYNASTY WARRIORS: ORIGINS', 2100, 1, N'https://cdn.cdkeys.com/700x700/media/catalog/product/d/y/dynasty_warriors_origins_digital_deluxe_edition_1_1.png', 1)
INSERT [dbo].[GameTable] ([gameId], [gameName], [gamePrice], [gameStock], [gameImage], [categoryId]) VALUES (3, N'FINAL FANTASY VII REBIRTH', 2290, 4, N'https://cdn.cdkeys.com/700x700/media/catalog/product/f/i/final_fantasy_vii_rebirth.png', 2)
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([userId], [userName], [userEmail], [userPassword], [userRole]) VALUES (1, N'admin', N'admin@gameshop.com', N'admin', N'Admin')
INSERT [dbo].[UserTable] ([userId], [userName], [userEmail], [userPassword], [userRole]) VALUES (2, N'frosty', N'frosty@gmail.com', N'1234', N'User')
INSERT [dbo].[UserTable] ([userId], [userName], [userEmail], [userPassword], [userRole]) VALUES (1003, N'user', N'user@gmail.com', N'1234', N'User')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
USE [master]
GO
